# Ignored unity files
Library/
Temp/
UnityPackageManager/

# Ignored IDE files
*.csproj
*.unityproj
*.sln
*.userprefs
obj/

# ignore vim intermediate files
.DS_Store

#ignore stuff on mac
*.swp

.vs/
